<!-- Template 2: Modules -->
<!-- https://canvas.uva.nl/courses/56888/pages/2-module-overzicht-2 -->

  <table style="width: 100%; border-collapse: separate; border-spacing: 0 2px; background: #d4d4d4" cellpadding="12">
    <tbody style="background: #ffffff;">
      <tr>
        <td>
          <strong>Week 1:</strong> Introductie & overzicht<br>
          <span style='font-size: 0.9em; color: #555;'>6 okt - 10 okt 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-1-introductie-and-overzicht"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 2:</strong> Basisconcepten<br>
          <span style='font-size: 0.9em; color: #555;'>13 okt - 17 okt 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-2-basisconcepten"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 3:</strong> Thema A<br>
          <span style='font-size: 0.9em; color: #555;'>20 okt - 24 okt 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-3-thema-a"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 4:</strong> Thema B<br>
          <span style='font-size: 0.9em; color: #555;'>27 okt - 31 okt 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-4-thema-b"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 5:</strong> Thema C<br>
          <span style='font-size: 0.9em; color: #555;'>3 nov - 7 nov 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-5-thema-c"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 6:</strong> Thema D<br>
          <span style='font-size: 0.9em; color: #555;'>10 nov - 14 nov 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-6-thema-d"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 7:</strong> Thema E<br>
          <span style='font-size: 0.9em; color: #555;'>17 nov - 21 nov 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-7-thema-e"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 8:</strong> Thema F<br>
          <span style='font-size: 0.9em; color: #555;'>24 nov - 28 nov 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-8-thema-f"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 9:</strong> Thema G<br>
          <span style='font-size: 0.9em; color: #555;'>1 dec - 5 dec 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-9-thema-g"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 10:</strong> Thema H<br>
          <span style='font-size: 0.9em; color: #555;'>8 dec - 12 dec 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-10-thema-h"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 11:</strong> Thema I<br>
          <span style='font-size: 0.9em; color: #555;'>15 dec - 19 dec 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-11-thema-i"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Week 12:</strong> Afronding & evaluatie<br>
          <span style='font-size: 0.9em; color: #555;'>22 dec - 26 dec 2025</span>
        </td>
        <td>
          <a href="https://canvas.uva.nl/courses/56225/pages/week-12-afronding-and-evaluatie"
             style="width: 40px; height: 40px; line-height: 40px; text-align: center; border-radius: 50%; background: #2d4666; color: #ffffff; text-decoration: none; font-size: 1.2em; float: right;">&rarr;</a>
        </td>
      </tr>

    </tbody>
  </table>
