<!-- Template 3: Module -->
<!-- https://canvas.uva.nl/courses/56888/pages/3-module-voorbeeld-2 -->
 
<div style="margin: 0; font-family: system-ui, -apple-system, Roboto, 'Segoe UI', Arial; background: #ffffff; border-radius: 12px; border:1px solid #e2e2e2; margin-bottom:20px;">

    <!-- Header -->
    <div style="text-align: left; padding: 15px 25px; background: #1B2631; color: #ffffff; border-radius: 12px 12px 0 0">
        <h2 style="margin: 0; font-size: 2.0em;">Algemene informatie</h2>
    </div>

    <!-- Datum -->
    <div style="text-align: right; margin-top: -20px; margin-right:25px">
        <span style="display: inline-block; padding: 10px 20px; background: #D5DBDB; color: #1B2631; border-radius: 20px; font-size: 1.1em;">
            datum
        </span>
    </div>

    <!-- Algemene informatie -->
    <div style="margin: 20px 30px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <!-- Kolommen -->
    <div style="margin: 30px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
        
        <!-- Kolom 1 -->
        <div style="padding: 20px; background: #F8F9FA; border-radius: 12px">
            <h4 style="color: #1B2631; margin-top: 0;">Collegeslides</h4>
            <ul style="padding-left: 20px; margin: 0; font-size:0.9em; line-height:normal">
                <li>[link naar slides]</li>
            </ul>
        </div>

        <!-- Kolom 2 -->
         <div style="padding: 20px; background: #F8F9FA; border-radius: 12px">
            <h4 style="color: #1B2631; margin-top: 0;">Literatuur</h4>
            <ul style="padding-left: 20px; margin: 0; font-size:0.9em; line-height:normal">
                <li>[literatuur 1]</li>
                <li>[literatuur 2]</li>
            </ul>
        </div>

        <!-- Kolom 3 -->
        <div style="padding: 20px; background: #F8F9FA; border-radius: 12px">
            <h4 style="color: #1B2631; margin-top: 0;">Opdrachten</h4>
            <ul style="padding-left: 20px; margin: 0; font-size:0.9em; line-height:normal">
                <li>[opdracht 1]</li>
                <li>[opdracht 2]</li>
            </ul>
        </div>

    </div>

    <!-- Terug knop -->
    <div style="text-align: left; margin: 30px">
        <a style="background: #239B56; color: #ffffff; padding: 10px 20px; border-radius: 12px; text-decoration: none" href="https://canvas.uva.nl/courses/56225">Terug</a>
    </div>

</div>
