<!-- https://canvas.uva.nl/courses/42074 -->

<!-- Afbeeldingen -->
<div class="grid-row">
    <div class="col-xs-20 col-md-6"><img src="https://canvas.uva.nl/courses/42074/files/9155027/preview" alt="webimage-4BE8F264-F1E6-4FD5-AC486B660FC43245.jpg" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42074/files/9155027" data-api-returntype="File" /></div>
    <div class="col-xs-20 col-md-6"><img src="https://canvas.uva.nl/courses/42074/files/9155028/preview" alt="webimage-76F26C73-14A9-49DB-A9CB6EA5E353D192.jpg" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42074/files/9155028" data-api-returntype="File" /></div>
</div>

<!-- Cursustitel -->
<div class="content-box" style="background-color: #2c4561; padding: 30px;">
    <h2><span style="font-size: 20pt; color: #ffffff;">Welcome to <strong>Introduction to Cultural Anthropology</strong></span></h2>
    <p><span style="font-size: 12pt; color: #ffffff;">2023/24 Sem. 1, per 3</span></p>
</div>

<!-- Introductie -->
<div class="content-box" style="background-color: #fafafadc; padding: 15px 30px 35px 30px;">
    <div class="content-box" style="margin-left: 20px; margin-right: 20px;">
        <p><span style="font-size: 12pt;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
        <p><span style="font-size: 12pt;"><span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</span></span></p>
    </div>
</div>

<!-- Weblinks -->
<div class="content-box" style="background-color: #f5f5f5dc; padding: 15px 30px 35px 30px;">
    <div class="content-box" style="margin-left: 20px; margin-right: 20px;">
        <h4><span style="font-size: 13pt;"><strong>Handige weblinks</strong><br /><br /></span></h4>
        <table style="border-collapse: collapse; width: 100.786%;" border="0">
            <tbody>
                <tr>
                    <td style="width: 33.5549%;">
                        <ul>
                            <li><span>Go to </span><a class="inline_disabled" style="font-family: inherit; font-size: 1rem;" href="https://canvas.uva.nl/courses/42072/modules" target="_blank" rel="noopener" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42072/modules" data-api-returntype="[Module]">modules</a></li>
                        </ul>
                    </td>
                    <td style="width: 35.1176%;">
                        <ul>
                            <li><span>View </span><a class="inline_disabled" style="font-family: inherit; font-size: 1rem;" href="https://canvas.uva.nl/courses/42072/assignments" target="_blank" rel="noopener" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42072/assignments" data-api-returntype="[Assignment]">assignments</a></li>
                        </ul>
                    </td>
                    <td style="width: 31.2242%;">
                        <ul>
                            <li><span>View <a class="inline_disabled" href="https://canvas.uva.nl/courses/42074/discussion_topics" target="_blank" rel="noopener" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42074/discussion_topics" data-api-returntype="[Discussion]">discussions</a></span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 33.5549%;">
                        <ul>
                            <li><span>View </span><a class="inline_disabled" style="font-family: inherit; font-size: 1rem;" href="https://canvas.uva.nl/courses/42072/grades" target="_blank" rel="noopener">grades</a></li>
                        </ul>
                    </td>
                    <td style="width: 35.1176%;">
                        <ul>
                            <li><a class="inline_disabled" href="https://canvas.uva.nl/courses/42072/announcements" target="_blank" rel="noopener">Course announcements</a></li>
                        </ul>
                    </td>
                    <td style="width: 31.2242%;">
                        <ul>
                            <li>Go to <a class="inline_disabled" href="https://canvas.uva.nl/courses/42074/assignments/syllabus" target="_blank" rel="noopener">Syllabus</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="width: 33.5549%;">
                        <ul>
                            <li><a class="inline_disabled" href="http://student.uva.nl/" target="_blank" rel="noopener">student.uva.nl</a></li>
                        </ul>
                    </td>
                    <td style="width: 35.1176%;">
                        <ul>
                            <li><a class="inline_disabled" href="http://rooster.uva.nl/" target="_blank" rel="noopener"><span>rooster.uva.nl</span></a></li>
                        </ul>
                    </td>
                    <td style="width: 31.2242%;">
                        <ul>
                            <li>View <a class="inline_disabled" href="https://canvas.uva.nl/courses/42074/users" target="_blank" rel="noopener">course participants</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Afsluiting (enters) -->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>