<!-- https://canvas.uva.nl/courses/42073 -->

<div class="grid-row">

    <!-- Linkerzijde -->
    <div class="col-xs-20 col-md-6">

        <!-- Afbeelding-->
        <p><img src="https://canvas.uva.nl/courses/42073/files/9154825/preview" alt="Julia Helmich on &lt;https://beeldbank.uva.nl/media/?mediaId=435DB755-25E9-48C0-9CBF9B2DB97F372C&gt; Students studying Communication sciences" width="auto" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/files/9154825" data-api-returntype="File" style="margin-top: 2px;" /></p>

        <!-- Menu -->
        <div class="content-box" style="background-color: #dbdbdbdc; padding: 35px; margin-bottom: 15px;">
            <table style="border-collapse: collapse; width: 99.7911%; height: 201px;" border="0">
                <tbody>
                    <tr style="height: 124px;">
                        <td style="width: 49.9504%; height: 124px; text-align: center;"><span style="font-size: 12pt;"><img src="https://canvas.uva.nl/courses/42073/files/9154997/preview" alt="noun-bell-3608022.png" width="71" height="71" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/files/9154997" data-api-returntype="File" /></span><br /><span style="font-size: 12pt;"><a class="inline_disabled" href="https://canvas.uva.nl/courses/42073/announcements" target="_blank" rel="noopener">Announcements</a></span></td>
                        <td style="width: 49.9504%; height: 124px; text-align: center;"><span style="font-size: 12pt;"><img src="https://canvas.uva.nl/courses/42073/files/9154998/preview" alt="noun-book-3608059.png" width="71" height="71" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/files/9154998" data-api-returntype="File" /></span><br /><a class="inline_disabled" href="https://canvas.uva.nl/courses/42073/modules" target="_blank" rel="noopener" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/modules" data-api-returntype="[Module]"><span style="font-size: 12pt;">Modules</span></a></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="width: 49.9504%; height: 37px; text-align: center;">
                            <p><span style="font-size: 12pt;"><img src="https://canvas.uva.nl/courses/42073/files/9154999/preview" alt="noun-edit-3608066 (1).png" width="71" height="71" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/files/9154999" data-api-returntype="File" /></span></p>
                            <p><a class="inline_disabled" href="https://canvas.uva.nl/courses/42073/assignments" target="_blank" rel="noopener" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/assignments" data-api-returntype="[Assignment]"><span style="font-size: 12pt;">Assignments</span></a></p>
                        </td>
                        <td style="width: 49.9504%; height: 37px; text-align: center;">
                            <p><span style="font-size: 12pt;"><img src="https://canvas.uva.nl/courses/42073/files/9155001/preview" alt="noun-flag-3608111.png" width="71" height="71" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/files/9155001" data-api-returntype="File" /></span></p>
                            <p><a class="inline_disabled" href="https://canvas.uva.nl/courses/42073/grades" target="_blank" rel="noopener"><span style="font-size: 12pt;">Grades</span></a></p>
                        </td>
                    </tr>
                    <tr style="height: 40px;">
                        <td style="width: 49.9504%; height: 40px; text-align: center;">
                            <p><span style="font-size: 12pt;"><img src="https://canvas.uva.nl/courses/42073/files/9155002/preview" alt="noun-sign-way-3608114.png" width="71" height="71" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/files/9155002" data-api-returntype="File" /></span></p>
                            <p><span style="font-size: 12pt;"><a class="inline_disabled" href="http://student.uva.nl/" target="_blank" rel="noopener">student.uva.nl</a></span></p>
                        </td>
                        <td style="width: 49.9504%; height: 40px; text-align: center;">
                            <p><span style="font-size: 12pt;"><img src="https://canvas.uva.nl/courses/42073/files/9155003/preview" alt="noun-calendar-and-date-3608118.png" width="70" height="70" data-api-endpoint="https://canvas.uva.nl/api/v1/courses/42073/files/9155003" data-api-returntype="File" /></span></p>
                            <p><span style="font-size: 12pt;"><a class="inline_disabled" href="http://rooster.uva.nl" target="_blank" rel="noopener">rooster.uva.nl</a></span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
    </div>

    <!-- Rechterzijde -->
    <div class="col-xs-20 col-md-6">

        <!-- Introductie -->
        <div class="content-box" style="background-color: #f6f1eddc; padding: 15px 30px 35px 30px;">
            <p><span style="font-size: 21pt;"><strong>Welcome to Introduction to Political Science</strong></span></p>
            <p><em><span style="font-size: 12pt;">2023/24 Acad.year</span></em></p>
            <p><span style="font-size: 12pt;"><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
            <p><span style="font-size: 12pt;"><span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</span></span></p>
            <p><span style="font-size: 12pt;"><span>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil.</span></span></p>
        </div>
    </div>
</div>

<!-- Afsluiting (enters) -->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>