<!-- Zie voorbeeld op TestVision pagina -->

<div class="enhanceable_content tabs">

    <!-- Tab vakjes (aanklikbare menu) -->
    <ul>
        <li><a href="#tab-0">HOME</a></li>
        <li><a href="#tab-1">Intake</a></li>
        <li><a href="#tab-2">TopDesk formulier</a></li>
        <li><a href="#tab-3">MC-vragen importeren</a></li>
        <!-- enzovoorts -->
    </ul>

    <!-- Tab inhoud -->
    <div id="tab-0">
        <p>Tekst tab 0</p>
    </div>

    <div id="tab-1">
        <p>Tekst tab 1</p>
    </div>

    <div id="tab-2">
        <p>Tekst tab 2</p>
    </div>

    <div id="tab-3">
        <p>Tekst tab 3</p>
    </div>

</div>
